<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}"></h1>
<nav th:replace="fragments :: navigation"></nav>
<p th:unless="${cheeses} and ${cheeses.size()}">no cheese :(</p>
<form method="post">
    <select name="deleteCheese">
        <option th:each="cheese : ${cheeses}" th:value="${cheese.key}" th:text="${cheese.key}"></option>
    </select>
    <input type="submit" value="Delete Cheese" />
</form>
</body>
</html>